name: NPM Publish
on:
    workflow_dispatch:
        inputs:
            versionIncrement:
                description: 'Version Increment'
                required: true
                default: 'patch'
                type: choice
                options:
                    - major
                    - minor
                    - patch
permissions:
    contents: write

jobs:
    npm-publish:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: actions/setup-node@v4
              with:
                  node-version: '22'
                  registry-url: https://registry.npmjs.org/
                  cache: 'npm'
            - name: npm version ${{ github.event.inputs.versionIncrement }}
              run: |
                  TAG=$(npm version ${{ github.event.inputs.versionIncrement }} --no-git-tag-version)
                  echo "TAG=$(echo $TAG)" >> $GITHUB_ENV
            - run: npm ci
            - run: npm test
            - run: npm run build
            - uses: EndBug/add-and-commit@v9
              with:
                  default_author: github_actions
                  message: Release ${{ env.TAG }}
                  tag: ${{ env.TAG }}
            - run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
